flask==3.0.3
flask-cors==4.0.1
gunicorn==21.2.0

networkx==3.3
osmnx==1.9.3
geopandas==0.14.4
shapely==2.0.5
pandas==2.2.2
numpy==1.26.4
scipy==1.13.1

folium==0.17.0
geopy==2.4.1
requests==2.32.3
python-dotenv==1.0.1